[mysqld]
server-id=1

# 复制&日志
log_bin=binlog
binlog_format=ROW
gtid_mode=ON
enforce_gtid_consistency=ON
log_replica_updates=ON     # 9.x 推荐；替代 log_slave_updates

# 持久性
innodb_flush_log_at_trx_commit=1
sync_binlog=1
innodb_flush_method=O_DIRECT
binlog_row_image=FULL

